# requirements.txt from VRE, all might not be needed to run locally. 
# To install all packages, run: pip install -r requirements.txt
aiofiles==22.1.0
aiosqlite==0.19.0
alembic==1.10.3
ansi2html==1.8.0
anyio==3.6.2
argcomplete==3.0.8
argon2-cffi==21.3.0
asttokens==2.2.1
async-generator==1.10
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
certipy==0.1.3
cftime==1.6.2
chart-studio==1.1.0
click==8.1.3
comm==0.1.3
contourpy==1.0.7
cycler==0.11.0
dash==2.9.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
DateTime==5.1
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
fastjsonschema==2.16.3
Flask==2.3.2
fonttools==4.39.3
importlib-metadata==6.4.1
importlib-resources==5.12.0
ipykernel==6.22.0
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==7.7.5
jedi==0.18.2
json5==0.9.11
jsoninja==1.0.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter-dash==0.4.2
jupyter-events==0.6.3
jupyter-resource-usage==0.6.4
jupyter-server==1.24.0
jupyter-ydoc==0.2.4
jupyter_client
jupyter_core==5.3.0
jupyter_server_fileid==0.9.0
jupyter_server_ydoc==0.8.0
jupyterhub-nativeauthenticator==1.2.0
jupyterlab==3.6.3
jupyterlab-widgets==1.1.4
jupyterlab_server==2.22.1
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mistune==2.0.5
nbclassic==0.5.5
nbclient==0.7.3
nbconvert==7.3.1
nbformat==5.8.0
nbgitpuller==1.1.1
nest-asyncio==1.6.0
netCDF4==1.6.4
notebook==6.5.6
notebook_shim==0.2.2
nteract-on-jupyter==2.1.3
numpy==1.24.3
onetimepass==1.0.1
pamela==1.0.0
pandas==2.0.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pipx==1.2.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
psutil==5.9.4
pure-eval==0.2
Pygments==2.15.0
pyparsing==3.0.9
pyrsistent==0.19.3
pytz==2023.3
pyzmq
requests==2.28.2
retrying==1.3.4
ruamel.yaml==0.17.21
scipy==1.10.1
Send2Trash==1.8.0
soupsieve==2.4.1
SQLAlchemy==1.4.47
stack-data==0.6.2
tenacity==8.2.2
threddsclient==0.4.2
tomli==2.0.1
tornado==6.2
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.2.0
urllib3==1.26.16
userpath==1.8.0
wcwidth==0.2.6
websocket-client==1.5.1
Werkzeug==2.3.4
widgetsnbextension==3.6.4
xarray
y-py==0.5.9
ypy-websocket==0.8.2
zipp==3.15.0
zope.interface==6.0
zstandard==0.21.0
